.lista-bicicletas {
  display: grid;
}

.lista-bicicletas > li,
.lista-bicicletas-item-bg > li {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding: 60px 20px;
}

.lista-bicicletas-item-bg {
  background-color: var(--cor-11);
  background: linear-gradient(to right, var(--cor-0) 30%, var(--cor-11) 0%);
}
.lista-bicicletas-item-bg h2 {
  color: var(--cor-0);
}

.lista-bicicletas-item-bg p,
.lista-bicicletas-item-bg ul {
  color: var(--cor-5);
}

.bicicletas-imagem {
  position: relative;
}

.bicicletas-imagem span {
  background-color: var(--cor-12);
  padding: 4px 12px;
  border-radius: 4px 0px 0px 4px;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 20px;
}

.bicicleta-conteudo {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.bicicleta-conteudo h2 {
  position: relative;
}

.bicicleta-conteudo h2::before {
  content: "";
  width: 12px;
  height: 8px;
  background-color: var(--cor-p1);
  display: block;
  margin-bottom: 8px;
}

.bicicleta-conteudo p {
  padding-bottom: 12px;
}

.bicicleta-conteudo ul {
  white-space: nowrap;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.bicicleta-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.bicicleta-info li {
  display: flex;
  gap: 0;
}

.bicicleta-info a {
  white-space: nowrap;
  display: flex;
  align-items: center;
  place-self: end;
}

.bicicleta-info a::after {
  content: "";
  background: url(/img/icones/seta.svg);
  width: 18px;
  height: 10px;
  display: inline-block;
  margin-left: 12px;
  transition: 0.2s;
}

.bicicleta-info a:hover::after {
  transform: translateX(4px);
}

.bicicleta-info img {
  width: 24px;
  margin-right: 8px;
}

@media (max-width: 800px) {
  .lista-bicicletas {
    padding: 0;
  }

  .lista-bicicletas > li,
  .lista-bicicletas-item-bg > li {
    grid-template-columns: 1fr;
  }

  .lista-bicicletas-item-bg > li {
    background: var(--cor-11);
  }

  .lista-bicicletas > li > img,
  .lista-bicicletas > li > div,
  .lista-bicicletas-item-bg > li > img,
  .lista-bicicletas-item-bg > li > div {
    padding: 20px;
  }

  .bicicletas-imagem span {
    top: 28px;
    right: 20px;
  }

  .bicicleta-info {
    padding: 0;
    grid-template-columns: 1fr;
  }

  .bicicleta-info ul {
    grid-template-columns: 1fr 1fr;
    margin-bottom: 32px;
  }

  .bicicleta-info a {
    place-self: start;
  }
}
