.parceiros {
  padding: 60px 0;
}

.parceiros h2 {
  padding-bottom: 60px;
}

.parceiros ul {
  padding: 0 20px;
  max-width: 1400px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto;
}
.parceiros li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px;
  border-left: 2px solid var(--cor-2);
}

.parceiros img {
  margin: 0 auto;
}

.parceiros li:first-child,
.parceiros li:nth-child(5) {
  border-left: none;
}

.parceiros li:nth-child(n + 5) {
  border-top: 2px solid var(--cor-2);
}

@media (max-width: 800px) {
  .parceiros {
    padding-bottom: 60px;
  }

  .parceiros li {
    padding: 20px;
  }

  .parceiros h2 {
    padding-bottom: 20px;
  }

  .parceiros ul {
    grid-template-columns: repeat(2, 2fr);
  }

  .parceiros li {
    border: none;
  }

  .parceiros li:nth-child(even) {
    border-left: 2px solid var(--cor-2);
  }

  .parceiros li:first-child,
  .parceiros li:nth-child(2) {
    border-bottom: 2px solid var(--cor-2);
  }
}
