.perguntas {
  padding: 120px 0;
}

.lista-perguntas {
  margin-top: 60px;
}

.lista-perguntas li {
  padding: 20px;
  display: grid;
  gap: 20px;
  border-radius: 4px;
}

.lista-perguntas li button {
  display: grid;
  align-items: center;
  gap: 10px;
  grid-template-columns: auto 1fr auto;
  cursor: pointer;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
}

.lista-perguntas li button::before {
  content: "";
  background-color: var(--cor-p1);
  width: 12px;
  height: 8px;
  display: block;
}

.lista-perguntas li button::after {
  content: "";
  background-image: url("/img/icones/seta-abrir.svg");
  background-repeat: no-repeat;
  width: 14px;
  height: 6px;
  display: inline-block;
  transition: 0.3s;
}

.lista-perguntas li button:hover::after {
  transform: rotate(180deg);
}

.lista-perguntas li button[aria-expanded="true"]::after {
  transform: rotate(180deg);
}

.js .lista-perguntas li p {
  max-width: 80ch;
  margin-left: 22px;
  display: none;
}

.js .lista-perguntas li p.ativo {
  display: block;
}

.lista-perguntas li:nth-child(odd) {
  background-color: var(--cor-1);
}

@media (max-width: 800px) {
  .perguntas {
    padding: 60px 0;
  }

  .lista-perguntas li {
    gap: 12px;
  }
}
