.seguros-bg {
  background: var(--cor-11);
}

#seguros .seguros {
  padding-top: 0px;
}

.seguros {
  display: grid;
  gap: 40px;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 60px 20px;
}

.seguros h2 {
  grid-column: 1/-1;
}

.seguros div {
  background: var(--cor-12);
  padding: 32px 32px 32px 60px;
  display: grid;
  grid-template-columns: 1fr auto;
  border-radius: 4px;
}

.seguros div h3 {
  padding-bottom: 40px;
}

.seguros div span {
  display: block;
  justify-self: end;
}

.seguros div a {
  grid-column: 1/2;
}

.seguros div ul {
  grid-column: 1/-1;
  padding-bottom: 16px;
}

.seguros div li {
  padding-bottom: 20px;
  position: relative;
}

.seguros div li::before {
  content: "";
  background: url(/img/icones/lista.svg);
  width: 13px;
  height: 9px;
  display: inline-block;
  position: absolute;
  left: -21px;
  top: 6px;
}

.seguros div a {
  grid-column: 1/-1;
}

.prata a {
  background: var(--cor-9);
  color: var(--cor-2);
}

.prata a:hover {
  background: var(--cor-8);
}

.ouro h3 {
  color: var(--cor-p1);
}

@media (max-width: 800px) {
  .seguros {
    grid-template-columns: 1fr;
  }
}
